@import "/public/assets/Style/_variables.scss";
@import "/public/assets/Style/_mixins.scss";

#parcours{
    @include section-text;
    flex-wrap: wrap;
    width: 60%;

    display: flex;
}

#parcours>h2{
    @include h2-title;
    
}
#parcours>h2::after{
    @include h2-after;
    top: -22px;
    margin-left: 240px;
    width: 300px;
}

.button-list{
    display: flex;
    gap: 1.5vw;
}

@media screen and (max-width:767px){
    #parcours{
        width:90%;
        justify-content:center;
        align-items:center;
    }
    .button-list{
        flex-direction:column;
        width:100%;
    }
    #parcours>h2::after{
        width:0px;
    }
    .button-list-ul{
        display:flex;
        align-items:center;
        justify-content:center;
        gap:8vw;
        padding:0;
        width:100%
    }
}