@import "/public/assets/Style/_variables.scss";

@mixin red-button{
    text-decoration: none;
    font-family: $poppins-text;
    color:$a-color;
    border: 1px $a-color solid;
    padding: 1vh 4vh ;
    border-radius: 10px;
    transition: background-color 0.5s;
}

@mixin red-button-hover{
    background-color: $a-color;
    color: $background-color;
}

@mixin section-text{
    display: flex;
    flex-direction: column;
    font-family: $poppins-text;
    align-items: flex-start;
}

@mixin h1-title{
    color: $a-color;
    font-size: 3em;
}

@mixin h2-title{
    color: $a-color;
    font-size: 2em;
}

@mixin h2-after{
    content: "";
    display: block;
    position: relative;
    
    height: 1px;
    background-color: #D0D2C0;
}