@import "/public/assets/Style/_variables.scss";
@import "/public/assets/Style/_mixins.scss";

.parcours-case{
    width: 60%;
}
ul{
    list-style-type: "→";

}
.parcours-case>h3{
    color: $important-text-color;
}
.parcours-case>h4{
    font-size: 0.8em;
    color: $important-text-color;
}

@media screen and (max-width:767px){
    .parcours-case{
        width:100%;
    }
    .parcours-case>h3,.parcours-case>h4,.parcours-case>p{
        text-align:center;
    }
    
}