@import "/public/assets/Style/_variables.scss";


.sidebar{
    width: 40px;
    position: fixed;
    bottom: 0px;
    left: 40px;
    right: auto;
    z-index: 10;
}

.sidbar_Ul,.footer_Ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    -moz-box-align: center;
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.sidbar_Ul>li{
    padding: 10px;
}
.sidbar_Ul>li>a>svg:hover{
    transition: color 0.5s ;
}
.sidbar_Ul>li>a>svg:hover{
    color: $a-color;
}
.sidbar_Ul:last-child::after{
    content: "";
    display: block;
    width: 3px;
    height: 90px;
    margin: 0x auto;
    border-radius: 3px;
    background-color: $important-text-color;
}

@media screen and (max-width:767px) {
    .sidbar_Ul{
        display: none;
    }
    .footer_Ul{
        display: inherit;
        flex-direction: row;
    }
    .sidebar{
        position: inherit;
        width: auto;
    }
    .footer_Ul:last-child::after{
        display: none;
    }

//TODO Ajouter le footer

}