@import "/public/assets/Style/_variables.scss";

.Navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.Navbar>a{
    flex-grow: 5;
}
.Navbar>a>img{
    width: 60px;
    padding-left: 1vw;
    padding-top: 1vh;
}

.nav-ul{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-around;
    flex-grow: 2;
    margin: 0;

}

.nav-link{
    text-decoration: none;
    font-family: $poppins-text;
    color:$important-text-color;
    transition: color 0.5s;
}

.nav-link:hover{
    color: $a-color;
}

.nav-cv{
    text-decoration: none;
    font-family: $poppins-text;
    color:$a-color;
    border: 1px $a-color solid;
    padding: 1vh 4vh ;
    border-radius: 10px;
    transition: background-color 0.5s;
}

.nav-cv:hover{
    background-color: $a-color;
    color: $background-color;
}


.nav_burger{
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    color: inherit;
    display: none;
}

@media screen and (max-width:767px) {
    
    .nav-ul{
        flex-direction: column;
        justify-content: center;
        position: fixed;
        right: 0;
        bottom: 100vh;
        height: 100vh;
        padding: 2rem;
        background-color: aqua;
        visibility: hidden;
        left: 0;
        align-items: center;
    }
    .show-nav {
        visibility: visible;
        bottom: 0;
    }
    .nav-link{
        display: block;
        padding: 1.5rem;
        font-size: 5vw;
    }

    .nav_burger{
        display: block;
        position: fixed;
        top:1rem;
        right: 1rem ;
    }
    .nav_burger{
        cursor: pointer;
    }

    .burger_bar,
    .burger_bar::before,.burger_bar::after{
        display: block;
        width: 40px;
        height: 3px;
        position: relative;
        border-radius: 3px;
        background: white;
    }

    .burger_bar::before,.burger_bar::after{
        content: "";
        position: absolute;
        left: 0;
    }

    .burger_bar::before{
        transform: translateY(-12px);
    }
    .burger_bar::after{
        transform: translateY(12px);
        
    }
}